
body, div, dl, dt, dd, ul, ol, li,  h1, h2, h3, h4, h5, h6, pre, code,  form, fieldset, legend, input, button,  textarea, p, th, td {
	margin: 0;
	padding: 0;
}
body {
	padding:0;
	font-size:12px;
}
fieldset, img {
	border: 0;
}
:focus {
	outline: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
input, button, textarea,  select, optgroup, option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}
input, button, textarea, select {
 *font-size: 100%;
}
body {
	line-height: 1.5;
	font-size:12px;
	font-family: "宋体", Arial, Helvetica, sans-serif;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th {
	text-align: left;
}
:link, :visited, ins {
	text-decoration: none;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
	overflow: visible;
}
.clear {
	clear:both;
}
.cf:before, .cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.cf:after {
	clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
 *zoom: 1;
}
